body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: wheat;
  overflow-x: hidden;
}

:root {
  --h1Size: clamp(2rem, 2.5vw, 1.8rem);
  --h2Size: clamp(1.5rem, 2vw, 1.2rem);
  --pSize: clamp(1.2rem, 1.5vw, 1rem);
}

body {
  background-color: black;
}

header {
  width: 100vw;
}

#activeBar,
.closeMenu {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.openMenu,
.closeMenu {
  margin-right: auto;
  margin-left: 1%;
  font-size: 2rem;
  color: wheat;
}

#activeBar:checked ~ .openMenu {
  display: none;
}

#activeBar:checked ~ .closeMenu {
  display: block;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: clamp(2rem, 2.5vw, 1.5rem);

  position: relative;

  margin-top: 175px;
  margin-right: -100%;

  padding-right: 25px;
  transition: 0.75s ease;

  background-color: rgba(9, 6, 6, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.links::before {
  content: "";
  background: linear-gradient(45deg, #ffffff, #d3d3d3, #808080, #0000);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

#activeBar:checked ~ .links {
  margin-right: 0;
}

.links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: wheat;
  font-size: var(--h2Size);
  padding: 8px;
  transition: 0.5s ease-in-out;
}

.links a:hover {
  color: rgb(180, 180, 241);
  font-weight: 800;
}

.links .activePage {
  color: rgb(63, 63, 255);
  text-decoration: underline;
}

.brushLine {
  height: 80px;
  width: 100%;
  margin-top: 30px;
  -webkit-animation: navAppear 2.5s ease both;
  animation: navAppear 2.5s ease both;
  z-index: -1;
}

/* Home page Hero Section */

.heroHome {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20%;
  position: relative;
  z-index: -1;
  gap: 5rem;
  width: 80vw;
}

.heroHomeHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  position: relative;
}

.heroHome h1 {
  font-size: var(--h1Size);
  margin: 0;
  -webkit-animation: heroTextEnter 4s both alternate 1s;
  animation: heroTextEnter 4s both alternate 1s;
}

.heroHome h2 {
  font-size: var(--h2Size);
  margin: 0;
  -webkit-animation: heroTextEnter 4s both alternate 1.5s;
  animation: heroTextEnter 4s both alternate 1.5s;
}

.heroHomeHead::before {
  content: "";
  background: linear-gradient(45deg, #ffffff, #d3d3d3, #808080, #0000);
  left: 0;
  bottom: 0;
  width: 20%;
  height: 2px;
  box-shadow: 2px 2px 5px;

  -webkit-animation: heroBorder 1s both alternate 1s;

  animation: heroBorder 1s both alternate 1s;
}

.heroHomeHead::after {
  content: "";
  background: linear-gradient(-45deg, #ffffff, #d3d3d3, #808080, #0000);
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  box-shadow: 2px 2px 5px;
  position: absolute;

  -webkit-animation: heroBorder 1s both alternate 1.5s;

  animation: heroBorder 1s both alternate 1.5s;
}

.heroHomeContent {
  font-size: var(--pSize);
  width: 90%;
  position: relative;
  -webkit-animation: navAppear 2.5s ease both 3s;
  animation: navAppear 2.5s ease both 3s;
}

.heroHomeContent::before {
  content: "";
  top: 0;
  left: -15px;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    rgba(255, 0, 0, 0.8),
    rgba(138, 43, 226, 0.8),
    rgba(0, 0, 255, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  -webkit-animation: contentBorderAppear 4s ease both 4s;
  animation: contentBorderAppear 4s ease both 4s;
}

@-webkit-keyframes contentBorderAppear {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes contentBorderAppear {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@-webkit-keyframes heroBorder {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes heroBorder {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes heroTextEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heroTextEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menuBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menuBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes navAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes navAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About page Main Section */

.aboutMain {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutText {
  width: 80%;
  align-self: center;
  justify-self: center;
  position: relative;
  z-index: -1;
}

.aboutText::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.8),
    rgba(138, 43, 226, 0.8),
    rgba(0, 0, 255, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-animation: aboutBorderAppear 4s ease both 1s;
  animation: aboutBorderAppear 4s ease both 1s;
}

.aboutText h2 {
  -webkit-animation: aboutBorderAppear 4s ease both 1.5s;
  animation: aboutBorderAppear 4s ease both 1.5s;
}

.aboutText p {
  -webkit-animation: aboutBorderAppear 4s ease both 2s;
  animation: aboutBorderAppear 4s ease both 2s;
}

@-webkit-keyframes aboutBorderAppear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes aboutBorderAppear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.aboutText p {
  font-size: var(--pSize);
}

.aboutText h2 {
  font-size: var(--h2Size);
}

/* Portfolio Page */
/* Main */

.portfolioMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;

  width: 95dvh;
  z-index: -1;
}

.portfolioMain img {
  max-width: 250px;
}

/* Breakpoints */

@media (min-width: 985px) {
  .openMenu,
  .closeMenu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .links {
    margin: 0;
    margin-top: -30px;
    flex-direction: row;
    gap: 10rem;
    -webkit-animation: navAppear 2.5s ease both;
    animation: navAppear 2.5s ease both;
  }
}
